button, button:focus, button:active {
    outline: none;
}

.dataTables_processing {
    background: rgba(67, 142, 185, .5) !important;
    color: white !important;
    height: 80px !important;
    font-weight: bold;
    font-size: 20px;
    border: none !important;
    z-index: 10;
}

.paginate_button {
    border: 1px #d4dfe3 solid !important;
    color: #2283C5 !important;
    background: #FAFAFA !important;
    margin: 0 !important;
    position: relative;
    z-index: auto;
    border-radius: 0 !important;
}

/* .paginate_button:hover {
    background: rgba(67, 142, 185, .7) !important;
}

.paginate_button.current {
    background: #6FAED9 !important;
    border-color: #6FAED9 !important;
    color: #FFF !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    z-index: 2;
} */

/* #dataTable_next {
    border: none !important;
    border-bottom: 0.1px #ccc solid !important;
    border-top: 0.1px #ccc solid !important;
    border-right: 0.1px #ccc solid !important;
}

#dataTable_previous {
    border: none !important;
    border-bottom: 0.1px #ccc solid !important;
    border-top: 0.1px #ccc solid !important;
    border-left: 0.1px #ccc solid !important;
}

.paginate_button:not(.next):not(.previous):not(:last-child) {
    border: none !important;
    border-bottom: 0.1px #ccc solid !important;
    border-top: 0.1px #ccc solid !important;
    border-left: 0.1px #ccc solid !important;
}

#dataTable_next:not(.disabled):hover,
#dataTable_previous:not(.disabled):hover {
    background: rgba(67, 142, 185, .7) !important;
} */

/* #dataTable_next.disabled,
#dataTable_previous.disabled {
    background: #F9F9F9 !important;
    border-color: #D9D9D9 !important;
    z-index: auto;
} */

/* thead > tr,
.dataTable thead > tr > th:hover:not(.sorting_disabled) {
    color: white !important;
    background: linear-gradient(to bottom, rgba(67, 142, 185, .6), rgba(67, 142, 185, .9)) !important;
}

.dataTable thead > tr > th::after {
    color: white !important;
} */

/* .dataTable thead > tr > th.sorting_desc,
.dataTable thead > tr > th.sorting_asc {
    color: white !important;
    background: rgba(67, 142, 185, .9) !important;
} */

/* .dataTable thead > tr > th {
    color: white !important;
    border: 1px #dddddd solid !important;
} */

/* table.dataTable,
.dataTable tbody > tr > td {
    border: 0.5px #ccc solid;
} */

.action-menu li a > i {
    margin-right: 14px;
}

.label-danger {
    color: white !important;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert.alert-dismissible {
    display: flex;
    position: fixed;
    z-index: 1031;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    margin: 0;
}

.table-responsive {
    overflow-x: unset;
    /* min-height: 100%; */
}

.dataTable #dataTable_length {
    padding-top: 0.61em;
}

#filterForm input {
    /* width: 100%; */
    width: auto;
}

#filterForm {
    margin: 20px 0px;
}

#filterForm .row {
    display: flex;
    align-items: center;
}

.lbl-search-box {
    width: auto;
}

#dataTable.dataTable {
    margin: 0 !important;
    width: 100% !important;
}

.breadcrumb i {
    padding: 3px;
}

.breadcrumb i:last-child {
    margin-right: 3px;
}

.action-buttons-div {
    margin-bottom: 10px;
}

.action-buttons-div a i {
    margin-right: 5px;
}

.table-tools {
    margin-bottom: 4px;
    display: flex;
    justify-content: flex-end;
}

.menu-text {
    vertical-align: middle;
}

.error-star {
    margin-left: 6px;
    vertical-align: top;
}

.ajax_loader {
    padding: 5px 0px;
}

.summary {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

#rowsuccess {
    background: #1cc88a;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: bold;
}

#rowskipped {
    background: red;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-weight: bold;
}

.switch-radio {
    vertical-align: text-top;
}

p[id*=err_], *[id*=filename_] {
    margin: 0;
}

#dataTable_length {
    padding-top: 0.755em;
}

.dataTables_length label {
    margin: 0px;
}

.dataTables_info {
    padding: 0px !important;
}

.form-hide {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    .table-bottom {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    #filterForm {
        padding: 0px 0px;
    }
    .col-form-label {
        text-align: right;
        padding: 8px 11px 0px 0px;
    }
    .page-title-area {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

@media only screen and (max-width: 768px) {
    #filterForm {
        padding: 0px 10px;
    }

    #dataTable_paginate {
        padding-bottom: 0.755em;
    }
}

.table {
    width: 100% !important;
}

.dataTables_paginate .paginate_button.current {
    background-color: #303641 !important;
    color: #fff !important;
    pointer-events: none;
}

.dataTables_paginate .paginate_button:not(.disabled):hover {
    background-color: #303641 !important;
    color: #fff !important;
}

.form-gp input, .form-gp textarea {
    background-color: transparent;
}

#filterForm .form-gp {
    width: fit-content;
    margin: 0;
}

input::placeholder {
    color: #111 !important;
}

#filterForm {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.table-tools button {
    padding: .375rem .75rem;;
}


.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.cmn-toggle + label {
    /* display: block; */
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round + label {
    padding: 2px;
    width: 40px;
    height: 20px;
    background-color: #dddddd;
    border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
    width: 18px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
    background-color: #8ce196;
}

input.cmn-toggle-round:checked + label:after {
    margin-left: 20px;
}

.upload_file_div {
    display: flex;
}

img.image_zoom {
    cursor: pointer;
}

.img_fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
}

.img_fullscreen > img {
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    max-width: 80vw;
    max-height: 95vh;
}

.img_fullscreen button.close {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 25px;
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 1;
}

.pa-icon {
    margin-right: 5px;
}

.col-form-label {
    width: 100%;
    font-size: 1rem;
    color: #000;
}

[id^="filepreview_"] {
    position: relative;
    cursor: pointer;
}

[id^="filepreview_"] > i.delete {
    position: absolute;
    right: -10px;
    background: red;
    border-radius: 22px;
    padding: 6px;
    font-weight: bolder;
    color: #fff;
    top: -10px;
    font-size: 18px;
}

div.error-block {
    color: #dc3545 !important;
}

input.error-block:focus {
    border: 1px solid #dc3545;
}

input.valid-block {
    border: 1px solid #28a745;
}

textarea.form-ckeditor.error-block + .ck-editor .ck-editor__editable:focus {
    border: 1px solid #dc3545 !important;
}

textarea.form-ckeditor.valid-block + .ck-editor .ck-editor__editable:focus {
    border: 1px solid #28a745 !important;
}

.form-switch {
    padding-top: 11px;
}

.table_action_buttons > a {
    padding: 9px 11px;
}

.table_action_buttons > a:not(:last-child) {
    margin-right: 3px;
}

.page-title-area .page-title small {
    padding-left: 8px;
}

.page-title-area .page-title small::before {
    font-family: 'FontAwesome';
    content: '\f101';
    text-rendering: auto;
    padding-right: 8px;
}

.pa-input {
    align-items: baseline;
}